USE [DEMO]
GO
/****** Object:  Table [dbo].[ABC]    Script Date: 2/1/2019 6:24:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ABC](
	[id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[age] [int] NULL,
	[emp_svid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T1]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T1](
	[id] [int] NULL,
	[name] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T2]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T2](
	[id] [int] NULL,
	[name] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl1]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl1](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/1/2019 6:24:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Username] [varchar](50) NULL,
	[PasswordHash] [nvarchar](1000) NULL,
	[PasswordSalt] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ABC] ([id], [Name], [age], [emp_svid]) VALUES (1, N'Nitesh', 28, 1)
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [Age]) VALUES (1, N'Nitesh', 26)
INSERT [dbo].[Employee] ([Id], [Name], [Age]) VALUES (3, N'Rupesh', 29)
INSERT [dbo].[Employee] ([Id], [Name], [Age]) VALUES (7, N'Rupesh', 27)
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[T1] ([id], [name]) VALUES (1, N'A')
INSERT [dbo].[T1] ([id], [name]) VALUES (2, N'B')
INSERT [dbo].[T1] ([id], [name]) VALUES (3, N'C')
INSERT [dbo].[T2] ([id], [name]) VALUES (1, N'A')
INSERT [dbo].[T2] ([id], [name]) VALUES (2, N'B')
INSERT [dbo].[T2] ([id], [name]) VALUES (3, N'C')
SET IDENTITY_INSERT [dbo].[Tbl_User] ON 

INSERT [dbo].[Tbl_User] ([Id], [Username], [PasswordHash], [PasswordSalt]) VALUES (1, N'nitesh', 0x5370AEF986EC639A262DDA8EF109DB8E5B69EE8600619C3876EE3F936E895535A33D4E1DD9183DA38FDA7733D2DADA3991B1B9688EBD39DFED4D321BB7860B95, 0xBF79D6031347180CA02965AC640B9E403C7CD52F4CE6C1C7D4D30E5D9EB966A2BA1DBBBDA677F4F0FFA77F585EAFF95B2DD1A2ABF04B55FC002478619FE1B62F32E732A6F3EFF58B39640E316876A164F5CAFE301016A551E32740B3C65238A6FD60556C691DFEDC5650F301E89BCE43F0AC63E336332EBF97F7EA438D1D5D11)
INSERT [dbo].[Tbl_User] ([Id], [Username], [PasswordHash], [PasswordSalt]) VALUES (2, N'superuser', 0xF7C53B66B4804BAF2DB4D59ED8B53068647B864CD90818AAAC3FFC3F92D5A347CCE5AF42C158F90855DF49A03D3465674B8E459D20F1C43783B6E55A7AC89816, 0x5538FC5B8B295921C29476960E98CFD0B65810C1127C226595B8FAE5D1FCD2D205581A15D9462C4A4317CAE6E381A702626D9EF569CDEA0E4E4536F4BB996DCDECE93C5392926D8C5B7A6DDD156577DA54B3ACE8239597C589AF434D2F27CFA174D4B2366386157B0EE48258C704F4144C7CFC8EF9BBBEA27C59684D2AAFA812)
SET IDENTITY_INSERT [dbo].[Tbl_User] OFF
ALTER TABLE [dbo].[ABC]  WITH CHECK ADD FOREIGN KEY([emp_svid])
REFERENCES [dbo].[ABC] ([id])
GO
